[submodule "libultraship"]
	path = libultraship
	url = https://github.com/kenix3/libultraship.git
[submodule "ZAPDTR"]
	path = ZAPDTR
	url = https://github.com/spencerduncan/ZAPDTR
[submodule "OTRExporter"]
	path = OTRExporter
	url = https://github.com/spencerduncan/OTRExporter
