[Desktop Entry]
Version=1.0
Name=Red Ship Blue Ship
Exec=redship
Terminal=false
Icon=sohIcon
Type=Application
Categories=Game;
X-AppImage-Integrate=false
