name: Test
on:
  workflow_run:
    workflows: ["generate-builds"]
    types:
      - completed

jobs:
  test:
    # Only run if the triggering workflow succeeded
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-22.04
    steps:
      - name: Download build artifact from generate-builds workflow
        uses: actions/download-artifact@v4
        with:
          name: linux-build-dir
          path: build
          github-token: ${{ secrets.GITHUB_TOKEN }}
          run-id: ${{ github.event.workflow_run.id }}

      - name: Install test runtime dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libsdl2-2.0-0 libpng16-16 libglu1-mesa libpulse0

      - name: Test
        run: ctest --test-dir build --output-on-failure --label-regex "^redship$"
